﻿.k-button:active,
.k-button.k-state-active {
    background-color: initial;
}

    .k-button:active:hover,
    .k-button.k-state-active:hover {
        background-color: initial;
    }

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
    outline: none;
}

.k-button:focus:not(.k-state-disabled):not([disabled]) {
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.2);
}

.k-button.btn {
    font-family: "Open Sans", "Segoe UI", verdana, Arial, Helvetica, Sans-Serif;
    color: #ffffff;
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.4);
    border-radius: 4px;
    padding: 7px 12px;
    font-weight: bold;
    margin: 0 2px;
    min-width: 78px;
    font-size: 12px;
}

    .k-button.btn.btn-lg {
        font-size: 14px;
    }

    .k-button.btn i {
        padding-right: 6px;
    }

        .k-button.btn i.i-danger {
            color: #b32028;
        }

        .k-button.btn i.i-success {
            color: #438C1A;
        }

        .k-button.btn i.i-primary {
            color: #006699;
        }

    .k-button.btn:active:not(.k-state-disabled),
    .k-button.btn:active:hover:not(.k-state-disabled) {
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2) !important;
    }

    .k-button.btn:hover:not(:active):not(.k-state-disabled) {
        box-shadow: 0 2px 2px #c2c1be, inset 0 1px 1px rgba(255, 255, 255, 0.4);
    }

    .k-button.btn.btn-danger {
        background-image: linear-gradient(to bottom, #e44d55, #dc3e45);
        border-color: #b32028;
        text-shadow: 0 -1px 1px #b4393e;
    }

        .k-button.btn.btn-danger:hover:not(:active):not(.k-state-disabled) {
            background-image: linear-gradient(to bottom, #e44d55, #e44d55);
        }

    .k-button.btn.btn-success {
        background-image: linear-gradient(to bottom, #6DBE23, #499E1C);
        border-color: #438C1A;
        text-shadow: 0 -1px 1px #316D12;
    }

        .k-button.btn.btn-success:hover:not(:active):not(.k-state-disabled) {
            background-image: linear-gradient(to bottom, #6DBE23, #6DBE23);
        }

    .k-button.btn.btn-primary {
        background-image: linear-gradient(to bottom, #3299cc, #198cc5);
        border-color: #006699;
        text-shadow: 0 -1px 1px #1d688d;
    }

        .k-button.btn.btn-primary:hover:not(:active):not(.k-state-disabled) {
            background-image: linear-gradient(to bottom, #3299cc, #3299cc);
        }

    .k-button.btn.btn-warning {
        background-image: linear-gradient(to bottom, rgba(240, 173, 78, .85), rgba(240, 173, 78, 1));
        border-color: #eea236;
        text-shadow: 0 -1px 1px #B17929;
    }

        .k-button.btn.btn-warning:hover:not(:active):not(.k-state-disabled) {
            background-image: linear-gradient(to bottom, rgba(240, 173, 78, .65), rgba(240, 173, 78, .85));
        }

    .k-button.btn.btn-default {
        color: rgb(68, 68, 68);
        background-image: linear-gradient(to bottom, #eaeaea, #dadada);
        border-color: #979797;
        box-shadow: inset 0 1px 1px white;
        text-shadow: 0 1px 1px white;
    }

        .k-button.btn.btn-default:hover:not(:active):not(.k-state-disabled) {
            background-image: linear-gradient(to bottom, #eaeaea, #eaeaea);
        }

    .k-button.btn.k-state-disabled:not(.btn-default) {
        color: #ffffff !important;
    }

    .k-button.btn.k-state-disabled {
        box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.4) !important;
        background-color: inherit !important;
        opacity: .4 !important;
    }
