﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>
<style>
    .principal {
        width: 1000px;
        height: 620px;
        background-color: #f2f2f2;
        margin: 0 auto 0 auto;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        padding: 10px;
        position: relative;
    }
    .select {
        float:left;
        margin: 5px;
    }
    .button {
        float:right;
        margin-right: 400px;
        border-bottom: 200;
    }
</style>
<body>
    <div class="principal">
        <div class="select">

            <label>Selecione o tipo de Atendimento</label>


            <select>
                <option>Fies</option>
                <option>Prouni</option>
                <option>Negociação</option>
            </select>

        </div>
        <div class="button">
            <a><input type="button" value="Emitir Senha" name="btnEmitirSenha" id="btnEmitirSenha" /></a>
        </div>
    </div>
 
</body>
</html>
