﻿
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <link href="js/jqueryui/jquery-ui.min.css" rel="stylesheet" type="text/css" />
    <link href="http://kendo.cdn.telerik.com/2015.3.1111/styles/kendo.common-fiori.min.css" rel="stylesheet" type="text/css" />
    <link href="http://kendo.cdn.telerik.com/2015.3.1111/styles/kendo.fiori.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/font.css" rel="stylesheet" type="text/css" />
    <link href="~/css/buttons.css" rel="stylesheet" type="text/css" />
    <link href="~/css/messagebox.css" rel="stylesheet" type="text/css" />

    <script src="js/jquery-2.0.3.min.js"></script>
    <script src="js/jqueryui/jquery-ui.min.js"></script>

    <script src="js/kendoui/kendo.all.min.js"></script>
    <!-- <script src="js/kendoui/kendo.web.min.js"></script> -->
    <script src="js/kendoui/cultures/kendo.culture.pt-BR.min.js"></script>

    <script src="js/knockout-2.2.0.debug.js"></script>
    <script src="js/knockout.activity.js"></script>
    <script src="js/knockout.asyncCommand.js"></script>

    <script src="js/jqueryPrintElement.js"></script>
    <script src="js/validaemail.js"></script>
    <script src="fancybox/jquery.fancybox-1.3.1.pack.js"></script>

    <script src="js/jquery.maskedinput-1.2.2.min.js"></script>
    <script src="js/jquery.scrollTo.js"></script>

    <script src="js/atualizacaoCadastral.js"></script>

    <script src="js/codemaker.core.js"></script>
    <script src="js/codemaker.messagebox.js"></script>

    <link rel="stylesheet" type="text/css" href="fancybox2/jquery.fancybox.css??v=2.1.5" media="screen" />
    <script type="text/javascript" src="fancybox2/jquery.fancybox.js?v=2.1.5"></script>

    <script>
        $(document).ready(function () {
            $.ajaxSetup({
                cache: false,
                error: function (xhr) {
                    $.post('validaSessao/', function (retorno) {
                        if (retorno.login != 'ok') {
                            $(location).attr('href', 'login/');
                        }
                    }, 'json')
                }
            })
        })
    </script>

<<<<<<< HEAD
=======


>>>>>>> master
    <meta http-equiv="Content-Type" content="text/html; CHARSET=UTF-8" />
    <title>:: Portal do Aluno ::</title>
    <link type="text/css" rel="stylesheet" href="~/css/css.css" />
    <link rel="stylesheet" href="~/css/fancybox.css" type="text/css" media="screen" />

    <script type="text/javascript">
            <!--
        function MM_swapImgRestore() { //v3.0
            var i, x, a = document.MM_sr; for (i = 0; a && i < a.length && (x = a[i]) && x.oSrc; i++) x.src = x.oSrc;
        }
        function MM_preloadImages() { //v3.0
            var d = document; if (d.images) {
                if (!d.MM_p) d.MM_p = new Array();
                var i, j = d.MM_p.length, a = MM_preloadImages.arguments; for (i = 0; i < a.length; i++)
                    if (a[i].indexOf("#") != 0) { d.MM_p[j] = new Image; d.MM_p[j++].src = a[i]; }
            }
        }

        function MM_findObj(n, d) { //v4.01
            var p, i, x; if (!d) d = document; if ((p = n.indexOf("?")) > 0 && parent.frames.length) {
                d = parent.frames[n.substring(p + 1)].document; n = n.substring(0, p);
            }
            if (!(x = d[n]) && d.all) x = d.all[n]; for (i = 0; !x && i < d.forms.length; i++) x = d.forms[i][n];
            for (i = 0; !x && d.layers && i < d.layers.length; i++) x = MM_findObj(n, d.layers[i].document);
            if (!x && d.getElementById) x = d.getElementById(n); return x;
        }

        function MM_swapImage() { //v3.0
            var i, j = 0, x, a = MM_swapImage.arguments; document.MM_sr = new Array; for (i = 0; i < (a.length - 2); i += 3)
                if ((x = MM_findObj(a[i])) != null) { document.MM_sr[j++] = x; if (!x.oSrc) x.oSrc = x.src; x.src = a[i + 2]; }
        }
        //-->
    </script>

    <script>
        $(document).ready(function () {
            $("#accordion").accordion();
        });
    </script>


</head>

<body onload="MM_preloadImages('~/image/portal_universitario_over.png','~/image/revista_juridica_over.png','~/image/site_hgu_over.png','~/image/notas_faltas_over.png','~/image/boletos_over.png','~/image/reservar_livro_over.png','~/image/site_ebsco_over.png','~/image/di_over.png')">

<<<<<<< HEAD
    <div id="principal">
        <div id="corpo">
            <div id="topo">
                <img src="~/image/topo2.png" alt="Topo" />
            </div>

            <script>
                $(document).ready(function () {
                    $('#espcod').change(function () {
                        $('#conteudoPrincipal').html('<div style="margin-top:30px; margin-left:350px; width:auto; float:left;" align="center"><img src="~/images/ajaxLoaders/loading.gif" /></div>');
                        $.post('conteudo/atualiza.php',
                            { espcod: $(this).val() },
                            function (resposta) {
                                $('#conteudoPrincipal').load('views/' + resposta + '.php');

                                window.location.reload();

                            });
                    });
                })
=======

    <div id="principal">

        <div id="corpo">


            <div id="topo">

                <img src="~/image/topo2.png" alt="Topo" />

            </div>

            <script>
    $(document).ready(function(){
        $('#espcod').change(function() {
            $('#conteudoPrincipal').html('<div style="margin-top:30px; margin-left:350px; width:auto; float:left;" align="center"><img src="~/images/ajaxLoaders/loading.gif" /></div>');
            $.post('conteudo/atualiza.php',
            { espcod : $(this).val() },
            function(resposta){
                $('#conteudoPrincipal').load('views/' + resposta + '.php');

                window.location.reload();

            });
        });
    })
>>>>>>> master
            </script>
            <div id="barra">
                <span id="linemeio">

                    <div class="saudacao">
                        <strong> Paulo Indre Barbosa Ferreira</strong>
                    </div>
                    <div id="cursosAluno" style="font-size: 12px; font-family:verdana; margin-top: 8px; margin-left: 50px; width: 300px; float: left;">
                        <select id="espcod">
                            <option value="401" selected="selected">Sistemas de Informa&ccedil;&atilde;o </option>
                        </select>
                    </div>
                    <div class="saudacao">Uniron</div>
                    <div id="selectA">
                        <span id="s2">
                            <div style=" float:right; width:50px;">
                                <a href="logout"> <span class="sair"> </span> </a>
                            </div>
                        </span>
                    </div>
                </span>
            </div>

            <div id="conteudo">

                <div class="sombra">
                </div>


                <div id="content">

                    <div class="content">

                        <script>
<<<<<<< HEAD
                            $(document).ready(function () {
                                $('.menu').click(function () {
                                    var id = $(this).attr('id');
                                    $('#conteudoPrincipal').html('<div style="margin-top:30px; margin-left:350px; width:auto; float:left;" align="center"><img src="~/image/ajaxLoaders/loading.gif" /></div>');
                                    $('#conteudoPrincipal').load('views' + id + '.php');
                                });
                            })
=======
    $(document).ready(function(){
        $('.menu').click(function(){
            var id = $(this).attr('id');
            $('#conteudoPrincipal').html('<div style="margin-top:30px; margin-left:350px; width:auto; float:left;" align="center"><img src="~/image/ajaxLoaders/loading.gif" /></div>');
            $('#conteudoPrincipal').load('views'+id+'.php');
        });
    })
>>>>>>> master
                        </script>

                        <div id="menuLeft">

                            <div class="initPage">

                                <p>
                                    <a id="/layout/home" class="menu">
                                        <img src="~/image/casa.png" alt="Home" />
                                        <span> Pagina Inicial </span>
                                    </a>
                                </p>

                                <div id="accordion">
                                    <h3><img src="~/image/academico.png" alt="academico" /></h3>
                                    <div>

                                        <div id="btnMenu">

                                            <ul>
                                                <li id="/boletim/index" class="menu">Notas e Faltas</li>
                                                <li id="/horario/index" class="menu">Visualizar Horario</li>
                                                <li><a href="http://www.uniron.edu.br/portais/matricula/login/?event=login&a=ODM2MDc=&e=NDAx&l=MTNwZmVycmVpcmEzZjM=&s=MTgyNDAzMzE=&c=MTQ=&p=QQ==" target="_self">Monte seu hor&aacute;rio</a>&nbsp;</li>
                                                <li id="/grade/ver" class="menu">Minha Grade</li>
                                            </ul>


                                        </div>
                                    </div>
                                    <h3><img src="~/image/SAAOnlineMenu.png" /></h3>
                                    <div>
                                        <div id="btnMenu">
                                            <ul>
                                                <li id="/atendimento/listarservicos" class="menu">Solicitar Servi&ccedil;o</li>
                                                <li id="/atendimento/servicossolicitados" class="menu">Ver servi&ccedil;os solicitados</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <h3><img src="~/image/financeiro.png" alt="academico" /></h3>
                                    <div>

                                        <div id="btnMenu">

                                            <ul>
                                                <li id="/boleto/index" class="menu">Boleto</li>
                                                <li class="menu"><a href="http://www.uniron.edu.br/portais/matricula/pam/?event=demonstrativo&p=MjAxODE=&a=ODM2MDc=&e=NDAx&l=MTNwZmVycmVpcmEzZjM=&c=MTQ=" target="_blank">Simulação de Mensalidade</a></li>
                                            </ul>

                                        </div>
                                    </div>
                                    <h3> <img src="~/image/biblioteca.png" alt="biblioteca" /></h3>
                                    <div id="btnMenu">

                                        <ul>
                                            <li id="/biblioteca/consultaremprestimos" class="menu">Consultar empr&eacute;stimos e reservas</li>
                                            <li id="/biblioteca/pesquisar" class="menu">Reservar livro</li>
                                            <li class="menu"><a href="http://search.ebscohost.com/login.aspx?authtype=ip,uid&custid=ns233009&profile=ehost&groupid=main" target="_blank">EBSCO</a></li>
                                            <li class="menu"><a href="http://search.ebscohost.com/login.aspx?authtype=ip,uid&custid=ns233009&profile=dmp&groupid=main" target="_blank">DynaMed</a></li>
                                            <li class="menu"><a href="http://periodicos.uniron.edu.br" target="_blank">Periodicos Online</a></li>
                                            <li class="menu"><a href="http://www.scielo.org/php/index.php" target="_blank">SciELO</a></li>
                                        </ul>

                                    </div>
                                    <h3><img src="~/image/manuais.png" alt="manuais" /> </h3>
                                    <div id="btnMenu">

                                        <ul>
                                            <li class="menu"><a href="http://www.uniron.edu.br/portais/portalaluno/arquivos/regimento_interno.pdf" target="_blank">Regimento Interno</a></li>
                                            <li class="menu"><a href="http://www.uniron.edu.br/portais/portalaluno/arquivos/calendario_academico.pdf" target="_blank">Calendário Acadêmico</a></li>
                                            <li class="menu"><a href="#" target="_blank">Manual Acadêmico</a></li>
                                            <li class="menu"><a href="http://www.uniron.edu.br/portais/portalaluno/arquivos/manual_ajuste_de_horario.pdf" target="_blank">Manual Ajuste de Horário</a></li>
                                            <li class="menu"><a href="http://www.uniron.edu.br/portais/portalaluno/arquivos/edital_atividades_complementares.pdf" target="_blank">Edital Atividades Complementares</a></li>
                                        </ul>


                                    </div>
                                    <h3><img src="~/image/opcoes.png" alt="opções" /> </h3>
                                    <div id="btnMenu">

                                        <ul>
                                            <li id="/usuario/alteraemail" class="menu">Trocar Email</li>
                                            <li id="/usuario/alterasenha" class="menu">Trocar Senha</li>
                                        </ul>


                                    </div>


                                </div>
                            </div>
                        </div>
                        <div id="conteudoPrincipal">


                            <style type="text/css">
                                img.fancybox-image {
                                    cursor: pointer;
                                }
                            </style>

                            <!--
                            <script>
                                $(document).ready(function(){
                                    var url = "images/popup_pesquisa.png";

                                    $.fancybox({
                                        type: 'image',
                                        maxWidth : 450,
                                        maxHeight : 500,
                                        href: url,
                                        afterShow : function(){
                                            $('img.fancybox-image').click(function(){
                                                window.open('http://uniron.surveyanalytics.com/', '_blank');
                                            });
                                        }
                                    });
                                });
                            </script>
                            -->

<<<<<<< HEAD
                            <script>
                                $(document).ready(function () {

                                    $('.boxmenu').click(function () {

                                        var id = $(this).attr('id');

                                        $('#conteudoPrincipal').html('<div style="margin-top:30px; margin-left:350px; width:auto; float:left;" align="center"><img src="~/image/ajaxLoaders/loading.gif" /></div>');

                                        $('#conteudoPrincipal').load('views' + id + '.php');

                                    });
                                    $('#fechar').click(function () {
                                        $('#novoportal').slideToggle('slow');

                                        $('#loading-mask').hide();
                                    });

                                    $("#webaulas").bind('click', function (e) {

                                        $.ajax({

                                            url: './api/gettoken.php',

                                            success: function (response) {

                                                var link = $("<a href='http://ensinc.uniron.edu.br/portal/aluno/authentication/login?token=" + response.token + "' target='_blank'></a>").appendTo($('body'));

                                                link.get(0).click();

                                                link.remove();

                                                delete link;

                                            }

                                        });

                                        e.preventDefault();

                                    });

                                    $('html').AtualizacaoCadastral();

                                })

                            </script>
=======

                            <script>

    $(document).ready(function(){

        $('.boxmenu').click(function(){

            var id = $(this).attr('id');

            $('#conteudoPrincipal').html('<div style="margin-top:30px; margin-left:350px; width:auto; float:left;" align="center"><img src="~/image/ajaxLoaders/loading.gif" /></div>');

            $('#conteudoPrincipal').load('views'+id+'.php');

        });
        $('#fechar').click(function(){
            $('#novoportal').slideToggle('slow');

            $('#loading-mask').hide();
        });

        $("#webaulas").bind('click', function(e) {

          $.ajax({

            url: './api/gettoken.php',

            success: function(response) {

              var link = $("<a href='http://ensinc.uniron.edu.br/portal/aluno/authentication/login?token=" + response.token + "' target='_blank'></a>").appendTo($('body'));

              link.get(0).click();

              link.remove();

              delete link;

            }

          });

          e.preventDefault();

        });

        $('html').AtualizacaoCadastral();

    })

                            </script>

>>>>>>> master
                            <style>
                                #loading-mask {
                                    position: absolute;
                                    left: 0;
                                    top: 0;
                                    width: 100%;
                                    height: 100%;
                                    z-index: 1000;
                                    filter: alpha(opacity=40);
                                    -moz-opacity: .40;
                                    opacity: .40;
                                    background-color: #000;
                                }
                            </style>

                            <style type="text/css">
                                #popup {
                                    background: #fff;
                                    margin: 0 auto;
                                    padding: 10px;
                                    border-width: 1px;
                                    border-style: solid;
                                    position: absolute;
                                    top: 100px;
                                    left: 250px;
                                    display: none;
                                }

                                #contPop {
                                    width: 510px;
                                    margin: 0 auto;
                                    border: 1px solid #999;
                                    background: #f8f8f8;
                                    padding: 0 5px 0 0;
                                    height: 380px;
                                    overflow: auto;
                                }

                                    #contPop h2 {
                                        font-size: 20px;
                                        margin-bottom: 25px;
                                        text-align: center;
                                        color: #FF0000;
                                    }

                                    #contPop p {
                                        text-align: justify;
                                        line-height: 20px;
                                        font-size: 12px;
                                        margin: 10px 0;
                                        padding: 0 15px;
                                    }

                                        #contPop p a {
                                            color: #F00;
                                            text-decoration: none;
                                            font-size: 13px;
                                        }

                                            #contPop p a:hover {
                                                text-decoration: underline;
                                            }


                                .assinatura {
                                    font-size: 11px;
                                }

                                #logo {
                                    width: 100px;
                                    margin: 0 auto;
                                }

                                .style1 {
                                    font-family: Verdana, Arial, Helvetica, sans-serif;
                                    font-size: 11px;
                                    color: #F00;
                                    margin-left: 7px;
                                    margin-bottom: 10px;
                                }
                            </style>

                            <script>
<<<<<<< HEAD
                                function avaliacaoencerrada() {
                                    alert("Avaliação Encerrada!");
                                }
=======
function avaliacaoencerrada()
{
alert("Avaliação Encerrada!");
}
>>>>>>> master
                            </script>


                            <script language="javascript" type="">
<<<<<<< HEAD
                                // Função que fecha o pop-up ao clicar no link fechar
                                function fechar() {
                                    document.getElementById('popup').style.display = 'none';
                                }
                                // Aqui definimos o tempo para fechar o pop-up
                                function abrir() {
                                    document.getElementById('popup').style.display = 'block';
                                    setTimeout("fechar()", 90000);
                                }
=======
// Função que fecha o pop-up ao clicar no link fechar
function fechar(){
document.getElementById('popup').style.display = 'none';
}
// Aqui definimos o tempo para fechar o pop-up
function abrir(){
document.getElementById('popup').style.display = 'block';
setTimeout ("fechar()", 90000);
}
>>>>>>> master
                            </script>

                            <!--
                            <div id='loading-mask' style="display: none"></div>
                             <div id="novoportal" style="color: red; font-family: verdana; font-size: 11px; background-color: white; padding: 5px; position: absolute; border: solid 1px #F00; width: 320px; height: 240px; top: 50%; left: 50%; margin-top: -120px; margin-left: -160px; z-index: 1001; display: none">
                                <div id="fechar" style="font-size: 11px; float: right; cursor: pointer">fechar(X)</div>
                                <br />
                                <br />
                                <span style="font-size: 16px; font-weight: bold; color: #000">Caro aluno,</span><br />
                                <br />
                                <br />
                                <span style="font-size: 14px; color: #000">O seu portal mudou! Esperamos com isto oferecer uma ferramenta mais moderna, r&aacute;pida e que proporcione mais facilidade na utiliza&ccedil;&atilde;o. Caso encontre alguma inconformidade em seu acesso, por favor informe a sala integrada ou laborat&oacute;rio de sua unidade.</span>
                            </div> -->


                            <div id="modulos">
                                <p class="style1"><strong>ATENÇÃO:</strong> O antigo Botão WEB AULA, agora é <strong>AVA (Ambiente Virtual de Aprendizagem)</strong></p>
                                <ul id="modulosUL">
                                    <!--<li>
<<<<<<< HEAD
                                    <a href="canaldonorte/" target="_blank" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('p_universitario','','images/portal_universitario_over.png',1)"><img src="images/portal_universitario.png" alt="Portal Universitario" name="p_universitario" width="128" height="116" border="0" id="p_universitario" /></a>        </li>-->
=======
        <a href="canaldonorte/" target="_blank" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('p_universitario','','images/portal_universitario_over.png',1)"><img src="images/portal_universitario.png" alt="Portal Universitario" name="p_universitario" width="128" height="116" border="0" id="p_universitario" /></a>        </li>-->
>>>>>>> master

                                    <li>
                                        <a href="#" id="webaulas">
                                            <img src="~/image/ava.png" alt="Web Aulas do Aluno" width="128" height="116" border="0" />
                                        </a>
                                    </li>
                                    <!--        <li>
<<<<<<< HEAD
                                    //            <a href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('revista_juridica','','images/revista_juridica_over.png',1)"><img src="images/revista_juridica.png" alt="Revista Juridica" name="revista_juridica" width="128" height="116" border="0" id="revista_juridica" /></a>
                                    //        </li>-->
=======
    //            <a href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('revista_juridica','','images/revista_juridica_over.png',1)"><img src="images/revista_juridica.png" alt="Revista Juridica" name="revista_juridica" width="128" height="116" border="0" id="revista_juridica" /></a>
    //        </li>-->
>>>>>>> master
                                    <li id="/boletim/index" class="boxmenu" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Notas e faltas','','~/image/notas_faltas_over.png',1)">
                                        <img src="~/image/notas_faltas.png" alt="Notas e faltas" name="Notas e faltas" width="128" height="116" border="0" id="Notas e faltas" />
                                    </li>
                                    <li id="/boleto/index" class="boxmenu" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Boletos','','~/image/boletos_over.png',1)">
                                        <img src="~/image/boletos.png" alt="Boletos" name="Boletos" width="128" height="116" border="0" id="Boletos" />
                                    </li>
                                    <li id="/biblioteca/pesquisar" class="boxmenu" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Reservar Livro','','~/image/reservar_livro_over.png',1)">
                                        <img src="~/image/reservar_livro.png" alt="Reservar Livro" name="Reservar Livro" width="128" height="116" border="0" id="Reservar Livro" />
                                    </li>
<<<<<<< HEAD
                                    <a href="~/View/Senha/EmitirSenha.cshtml">
                                        <li id="/biblioteca/pesquisar" class="boxmenu" border="solid 1 black">
                                            <img src="~/image/ticket.png" alt="Emitir Senha" name="Emitir Senha" width="128" height="116" border="0" id="Emitir Senha" />
                                        </li>
                                    </a>
                                    <!--<li>
                                    <a href="http://uniron.surveyanalytics.com" target="_blank" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('pesquisa_satisfacao','','images/pesquisa_uniron.png',1)">
                                    <img src="images/pesquisa_uniron.png" alt="Pesaquisa de Satisfação" name="Pesaquisa de Satisfação" width="128" height="116" border="0" id="pesquisa_satisfacao" /> </a></li>-->
                                    <!-- https://docs.google.com/a/uniron.edu.br/forms/d/1OuU-N4PtljMbV_tfMh8v1l7J8VIJKS4yD1NOcuvPXC8/viewform -->
                                    <!-- <li>
                                      <a href="http://conteudo.uniron.edu.br/ganhaganha/" target="_blank" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('ganhaganha_uniron','','images/ganhaganha_uniron.png',1)">
                                        <img src="images/ganhaganha_uniron.png" alt="Ganha Ganha Uniron" name="ganhaganha_uniron" width="128" height="116" border="0" id="periodicosonline" style="border-radius: 7px;height:115px;"/>
                                      </a>
                                    </li> -->

                                    <li>
                                        <form name="form" action="http://questionarios.uniron.edu.br/forms" method="post" target="_blank">
                                            <input name="codigo_aluno" id="codigo_aluno" type="hidden" value="83607" />
                                            <input name="nome_aluno" id="nome_aluno" type="hidden" value="Paulo Indre Barbosa Ferreira Santos" />
                                            <input name="codigo_faculdade" id="codigo_faculdade" type="hidden" value="4" />
                                            <input name="codigo_curso" id="codigo_curso" type="hidden" value="401" />
                                            <input name="nome_curso" id="nome_curso" type="hidden" value="Sistemas de Informa&ccedil;&atilde;o " />
                                            <input name="codigo_turma" id="codigo_turma" type="hidden" value="40120162" />
                                            <input name="disciplinas[0][codigo]" id="disciplinas[0][codigo]" type="hidden" value="5061" /><input name="disciplinas[0][nome]" id="disciplinas[0][nome]" type="hidden" value="Gerencia de Configura&ccedil;&atilde;o de Software" /><input name="disciplinas[0][professor][0][codigo]" id="disciplinas[0][professor][0]['codigo']" type="hidden" value="1759" /><input name="disciplinas[0][professor][0][nome]" id="disciplinas[0][professor][0]['nome']" type="hidden" value="Jose Avani das Chagas Junior" /><input name="disciplinas[1][codigo]" id="disciplinas[1][codigo]" type="hidden" value="5062" /><input name="disciplinas[1][nome]" id="disciplinas[1][nome]" type="hidden" value="Programa&ccedil;&atilde;o Orientada a Objetos para Web" /><input name="disciplinas[1][professor][0][codigo]" id="disciplinas[1][professor][0]['codigo']" type="hidden" value="1755" /><input name="disciplinas[1][professor][0][nome]" id="disciplinas[1][professor][0]['nome']" type="hidden" value="ANCELMO LUIZ EVANGELISTA DOS SANTOS" /><input name="disciplinas[2][codigo]" id="disciplinas[2][codigo]" type="hidden" value="5063" /><input name="disciplinas[2][nome]" id="disciplinas[2][nome]" type="hidden" value="Desenvolvimento de Aplicativos" /><input name="disciplinas[2][professor][0][codigo]" id="disciplinas[2][professor][0]['codigo']" type="hidden" value="2680" /><input name="disciplinas[2][professor][0][nome]" id="disciplinas[2][professor][0]['nome']" type="hidden" value="Maico Moreira da Silva" /><input name="disciplinas[3][codigo]" id="disciplinas[3][codigo]" type="hidden" value="5064" /><input name="disciplinas[3][nome]" id="disciplinas[3][nome]" type="hidden" value="Projetos Orientados a Objetos" /><input name="disciplinas[3][professor][0][codigo]" id="disciplinas[3][professor][0]['codigo']" type="hidden" value="2567" /><input name="disciplinas[3][professor][0][nome]" id="disciplinas[3][professor][0]['nome']" type="hidden" value="Edilson Vasconselos Dantas Junior" /><input name="disciplinas[4][codigo]" id="disciplinas[4][codigo]" type="hidden" value="5065" /><input name="disciplinas[4][nome]" id="disciplinas[4][nome]" type="hidden" value="Interface e Usabilidade de Software" /><input name="disciplinas[4][professor][0][codigo]" id="disciplinas[4][professor][0]['codigo']" type="hidden" value="1473" /><input name="disciplinas[4][professor][0][nome]" id="disciplinas[4][professor][0]['nome']" type="hidden" value="Hudyson Santos Barbosa" /><input name="disciplinas[5][codigo]" id="disciplinas[5][codigo]" type="hidden" value="5066" /><input name="disciplinas[5][nome]" id="disciplinas[5][nome]" type="hidden" value="Projeto Integrador V" /><input name="disciplinas[5][professor][0][codigo]" id="disciplinas[5][professor][0]['codigo']" type="hidden" value="1755" /><input name="disciplinas[5][professor][0][nome]" id="disciplinas[5][professor][0]['nome']" type="hidden" value="ANCELMO LUIZ EVANGELISTA DOS SANTOS" />                           <button style="margin-top:-18px;">
=======
                                    <a href="~/View/Senha/EmitirSenha.cshtml"><li id="/biblioteca/pesquisar" class="boxmenu" border="solid 1 black">
                                        <img src="~/image/ticket.png" alt="Emitir Senha" name="Emitir Senha" width="128" height="116" border="0" id="Emitir Senha" />
                                    </li></a>
                                    <!--<li>
    <a href="http://uniron.surveyanalytics.com" target="_blank" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('pesquisa_satisfacao','','images/pesquisa_uniron.png',1)">
    <img src="images/pesquisa_uniron.png" alt="Pesaquisa de Satisfação" name="Pesaquisa de Satisfação" width="128" height="116" border="0" id="pesquisa_satisfacao" /> </a></li>-->
                                    <!-- https://docs.google.com/a/uniron.edu.br/forms/d/1OuU-N4PtljMbV_tfMh8v1l7J8VIJKS4yD1NOcuvPXC8/viewform -->
                                    <!-- <li>
          <a href="http://conteudo.uniron.edu.br/ganhaganha/" target="_blank" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('ganhaganha_uniron','','images/ganhaganha_uniron.png',1)">
            <img src="images/ganhaganha_uniron.png" alt="Ganha Ganha Uniron" name="ganhaganha_uniron" width="128" height="116" border="0" id="periodicosonline" style="border-radius: 7px;height:115px;"/>
          </a>
        </li> -->

                                    <li>
                                        <form name="form" action="http://questionarios.uniron.edu.br/forms" method="post" target="_blank">
                                            <input name="codigo_aluno" id="codigo_aluno" type="hidden" value="83607">
                                            <input name="nome_aluno" id="nome_aluno" type="hidden" value="Paulo Indre Barbosa Ferreira Santos">
                                            <input name="codigo_faculdade" id="codigo_faculdade" type="hidden" value="4">
                                            <input name="codigo_curso" id="codigo_curso" type="hidden" value="401">
                                            <input name="nome_curso" id="nome_curso" type="hidden" value="Sistemas de Informa&ccedil;&atilde;o ">
                                            <input name="codigo_turma" id="codigo_turma" type="hidden" value="40120162">
                                            <input name="disciplinas[0][codigo]" id="disciplinas[0][codigo]" type="hidden" value="5061"><input name="disciplinas[0][nome]" id="disciplinas[0][nome]" type="hidden" value="Gerencia de Configura&ccedil;&atilde;o de Software"><input name="disciplinas[0][professor][0][codigo]" id="disciplinas[0][professor][0]['codigo']" type="hidden" value="1759"><input name="disciplinas[0][professor][0][nome]" id="disciplinas[0][professor][0]['nome']" type="hidden" value="Jose Avani das Chagas Junior"><input name="disciplinas[1][codigo]" id="disciplinas[1][codigo]" type="hidden" value="5062"><input name="disciplinas[1][nome]" id="disciplinas[1][nome]" type="hidden" value="Programa&ccedil;&atilde;o Orientada a Objetos para Web"><input name="disciplinas[1][professor][0][codigo]" id="disciplinas[1][professor][0]['codigo']" type="hidden" value="1755"><input name="disciplinas[1][professor][0][nome]" id="disciplinas[1][professor][0]['nome']" type="hidden" value="ANCELMO LUIZ EVANGELISTA DOS SANTOS"><input name="disciplinas[2][codigo]" id="disciplinas[2][codigo]" type="hidden" value="5063"><input name="disciplinas[2][nome]" id="disciplinas[2][nome]" type="hidden" value="Desenvolvimento de Aplicativos"><input name="disciplinas[2][professor][0][codigo]" id="disciplinas[2][professor][0]['codigo']" type="hidden" value="2680"><input name="disciplinas[2][professor][0][nome]" id="disciplinas[2][professor][0]['nome']" type="hidden" value="Maico Moreira da Silva"><input name="disciplinas[3][codigo]" id="disciplinas[3][codigo]" type="hidden" value="5064"><input name="disciplinas[3][nome]" id="disciplinas[3][nome]" type="hidden" value="Projetos Orientados a Objetos"><input name="disciplinas[3][professor][0][codigo]" id="disciplinas[3][professor][0]['codigo']" type="hidden" value="2567"><input name="disciplinas[3][professor][0][nome]" id="disciplinas[3][professor][0]['nome']" type="hidden" value="Edilson Vasconselos Dantas Junior"><input name="disciplinas[4][codigo]" id="disciplinas[4][codigo]" type="hidden" value="5065"><input name="disciplinas[4][nome]" id="disciplinas[4][nome]" type="hidden" value="Interface e Usabilidade de Software"><input name="disciplinas[4][professor][0][codigo]" id="disciplinas[4][professor][0]['codigo']" type="hidden" value="1473"><input name="disciplinas[4][professor][0][nome]" id="disciplinas[4][professor][0]['nome']" type="hidden" value="Hudyson Santos Barbosa"><input name="disciplinas[5][codigo]" id="disciplinas[5][codigo]" type="hidden" value="5066"><input name="disciplinas[5][nome]" id="disciplinas[5][nome]" type="hidden" value="Projeto Integrador V"><input name="disciplinas[5][professor][0][codigo]" id="disciplinas[5][professor][0]['codigo']" type="hidden" value="1755"><input name="disciplinas[5][professor][0][nome]" id="disciplinas[5][professor][0]['nome']" type="hidden" value="ANCELMO LUIZ EVANGELISTA DOS SANTOS">                           <button style="margin-top:-18px;">
>>>>>>> master
                                                <img src="~/image/avaliacao_institucional.png" alt="Avalia&Ccedil;&atilde;o Professores" name="Avalia&Ccedil;&atilde;o Professores" width="128" height="116" border="0" id="avaliacao_institucional" /> </a>
                                            </button>
                                        </form>
                                    </li>
                                </ul>
                                <!-- <div id="popup" class="popup">
                                    <small style="text-align:left"><a href="javascript: fechar();"><b>FECHAR</b></a></small>
                                    <div id="contPop">
                                    <h2>ATENÇÃO</h2>
                                    <p>ACADÊMICOS QUE NÃO ESTÃO COM SEUS NOMES NAS LISTAS DE CHAMADA, NÃO ESTARÃO COM SEUS NOMES NAS ATAS DE PROVA, E A RAZÃO DISSO É O NÃO AJUSTE DO HORÁRIO NO PORTAL.</p>
                                    <p>PORTANTO, AQUELES ALUNOS QUE NÃO ESTIVEREM COM SEUS NOMES NAS ATAS DE PROVA, NÃO PODERÃO FAZER AS PROVAS DESSE 1º BIMESTRE ANTES DE PROVIDENCIAR O AJUSTE DE HORÁRIOS NO PORTAL. PARA AJUDAR NESSE PROCESSO, A SALA INTEGRADA E AS RESPECTIVAS COORDENAÇÕES ESTARÃO DE PRONTIDÃO.</p>
                                    <p>RESSALTANDO: ACADÊMICOS SEM NOME NAS ATAS DE PROVA NÃO RECEBERÃO E NÃO FARÃO AS AVALIAÇÕES DO 1º BIMESTRE, FICANDO, AUTOMATICAMENTE, INSCRITO PARA FAZER A PROVA DE 2ª CHAMADA, PORÉM, SEM ÔNUS.</p>
                                    <br/>
                                    <p><b>A DIREÇÃO</b></p>
                                    </div>
                                </div> -->
                                <!-- abrir() -->
                                <div id="foot">

                                    <img src="~/image/foot.jpg" alt="Foot" />

                                </div>

                            </div>
                        </div>
                        <div class="clear"><!-- Div para dar um clear both!--></div>
<<<<<<< HEAD
                    </div>
                </div>
            </div>
        </div>
=======

                    </div>

                </div>

            </div>


        </div>

>>>>>>> master
    </div>

    <!-- <script>

            $(document).ready(function() {

                $("#accordion").accordion();

                kendo.culture("pt-BR");

                var
                    template = '<div name="popup">' +
                               '  <a href="http://uniron.edu.br/portais/portalaluno/avaliacao-institucional/" target="_blank" style="font-size: 18px; padding-left: 2px;">' +
                               '    <img src="http://www.uniron.edu.br/portais/portalaluno/avaliacao-institucional/log/banner_avaliacao - Copia.png" />' +
                               '  </a>'+
                               '</div>',

                    popup = $(template).kendoWindow({

                        animation: false,

                        draggable: false,

                        visible: false,

                        modal: true,

                        resizable: false,

                        width: "630px",

                        height: "530px",

                        title: 'Avaliação Docente 2016/2 - 2017'

                    }).data('kendoWindow');

                    popup.center().open();

                    popup.element.find('img').bind('load', function () {

                        kendo.ui.progress(popup.element);

                    });

                    kendo.ui.progress(popup.element, true);

                    popup.element.css({

                        'overflow': 'hidden',

                        'padding': 0

                    });

            });

    </script>   -->
<<<<<<< HEAD
=======

>>>>>>> master
</body>
</html>